In [1]:
# Dependencies
import pandas as pd

In [2]:
# Not every CSV requires an encoding, but be aware this can come up
US_Daily_2017_df = pd.read_csv("Resources/2017-daily-us-charts.csv")

In [3]:
# Show just the header
US_Daily_2017_df.head()

,Date,Position,Track Name,Artist,Streams,ID
0,12/31/2017,1,rockstar,Post Malone,1530210,7wGoVu4Dady5GV0Sv4UIsx
1,12/31/2017,2,No Limit,G-Eazy,1016584,2DQ1ITjI0YoLFzuADN1ZBW
2,12/31/2017,3,Bartier Cardi (feat. 21 Savage),Cardi B,950886,75FDPwaULRdYDn4StFN2rT
3,12/31/2017,4,I Fall Apart,Post Malone,939975,75ZvA4QfFiZvzhj2xkaWAh
4,12/31/2017,5,Gucci Gang,Lil Pump,884672,43ZyHQITOjhciSUUNPVRHc